.tableCell {
    display: flex;
    font-size: xx-large;
    border: 1px black solid;
    height: 100px;
    flex: 1 0 30%;
    align-items: center;
    justify-content: center;
}
.table {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    height: 100%;
    width: 300px;
}
/* .tableCell:nth-child(1), .tableCell:nth-child(2), .tableCell:nth-child(3)  {
    border-top: 0px;
}
.tableCell:nth-child(1), .tableCell:nth-child(4), .tableCell:nth-child(7)  {
    border-left: 0px;
}
.tableCell:nth-child(7), .tableCell:nth-child(8), .tableCell:nth-child(9)  {
    border-bottom: 0px;
}
.tableCell:nth-child(9), .tableCell:nth-child(3), .tableCell:nth-child(6)  {
    border-right: 0px;
} */
.tableCell:nth-child(n+7)  {
    border-bottom: 0px;
}
.tableCell:nth-child(3n)  {
    border-right: 0px;
}
.tableCell:nth-child(-n+3)  {
    border-top: 0px;
}
.tableCell:nth-child(3n-2)  {
    border-left: 0px;
}
body {
    width: 80%;
    padding: 20px;
    margin: auto;
    /* border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
    border-radius: 1%; */
}