@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Montserrat&display=swap');
html{
    background-image: url(../images/1500x500_cropped.jpg);
    background-size: 200px;
}
body{
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, .95);;
    color: rgb(37, 42, 42);
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Faustina', serif;
    color: rgb(28, 81, 66);
}
header h1{
    font-size: 32px;
}
header {
    display: flex;
    flex-direction: row;
    text-align: center;
}
nav {
    margin: 21px;
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul li:first-child {
    display: block;
}
nav ul li {
    display: none;
    width: 100%;
}
nav ul li a {
    display: block;
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(224, 255, 252);
    width: 100px;
    border-radius: 4px;
    color: rgb(28, 81, 66);
    box-shadow: 4px 4px 4px  rgb(28, 81, 66);
}
nav ul li a:hover {
    color: rgb(224, 255, 252);
    background-color: rgb(28, 81, 66);
    border: 1px solid rgb(28, 81, 66);
}
.show li{
    display: block;
}
.weekNav {
    display: flex;
    justify-content: space-between;
}
.weekNav a{
    text-decoration: none;
}
main {
    text-align: center;
}
#myImage{
    width: 90%;
    margin: 10px 0 50px 0;
}
footer{
    padding: 0 0 5px 5px;
}
.code {
    box-sizing: border-box;
    border: 1px solid rgb(255, 235, 221);
    border-radius: 4px;
    background-color: seashell;
    padding: 10px;
    margin: 5px;
    overflow: scroll;
}
@media only screen and (min-width: 823px) {
    html{
        background-size: 400px;
    }
    header h1{
        font-size: 72px;
    }
    body{
        width: 75%;
    }
    #myImage{
        margin: 0px 0 100px 0;
        width: auto;
    }
}